{{ with .Get 0 }}
{{ else }}
{{ errorf "missing points value to itra shortcode %s" .Position }}
{{ end }}

{{ $points := index .Params 0  }}
{{ $url := index .Params 1 }}

{{ if $url }}
<a href={{ $url }} target="_blank">
{{ end }}
<span style="display:inline-block;background:url(/itra/itra_race{{ $points }}.png) no-repeat center center transparent;background-size:contain;padding:0;width:56px;height:24px;color:transparent;overflow:hidden;vertical-align:middle">5</span>
{{ if $url }}
</a>
{{ end }}
